@model IEnumerable<Common.Product>

@{
    ViewData["Title"] = "Products";
}

<style>
    .product-image {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
</style>

<h1>Products</h1>


@foreach (var product in Model)
{
    <div>
        <img src="@product.Image" alt="Product Image" class="product-image" />
        <h5>@product.Name</h5>
        <p>Price:&euro; @product.price</p>

        <form method="post" asp-action="ViewDetails" class="m-2">
            <input type="hidden" name="asin" value="@product.Asin" />
            <input type="submit" value="View Details" class="btn btn-primary" />
        </form>

        <form method="post" asp-action="Order" class="m-2">
            <input type="hidden" name="asin" value="@product.Asin" />
            <input type="submit" value="Order" class="btn btn-primary" />
        </form>
    </div>
}